@media screen and (max-width: 400px) {
  #nameenter {
    color: white !important;
    font-size: 30px;
    margin-top: 0px !important;
  }
  #showname {
    font-size: 30px;
    margin-top: 0px !important;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#04a2f4, #007de7);
    clip-path: circle(23% at left 77%);
  }

  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#007de7, #262d37);
    clip-path: circle(20% at right 10%);
  }
}
